<div id="navbar-default">
  <div class="logo"><a class="logoDisabled" href="http://localhost:3000/">Haroussi</a></div>
    <div class="buttons-connexion">
      <a class="button-sign-in" type="button" href="http://localhost:3000/users/sign_in">Sign in</a>
      <a class="button-sign-up" type="button" href="http://localhost:3000/users/sign_up">Sign up</a>
    </div>
</div>

